# lab cls

In [2]:
class Employee:
    def __init__(self,ID, name, salary, Department):
        self.ID = ID  
        self.name = name
        self.salary = salary
        self.Department = Department
   
    def displayEmp(self):
        print ("Name: "+str(self.name))
        print ("ID: "+str(self.ID))
        print ("Salary: "+str(self.salary))
        print ("Department: "+str(self.Department))
        
emp = Employee(151382356,"sifat",2000,"CSE")
emp.displayEmp()

Name: sifat
ID: 151382356
Salary: 2000
Department: CSE

In [3]:
class Employee:
    def __init__(self, eid, ename, email, address, phone_num):
        
        self.eid=eid
        self.ename=ename
        self.email=email
        self.address=address
        self.phone_num=phone_num
        
    def printEmployee(self):
        print("id: %s\nname: %s\nemail: %s\naddress: %s\nphone: %s"%(self.eid,self.ename,self.email,self.address,self.phone_num))
        
        
emp1 = Employee("151382356","sifat","sifat337@gmail.com","Cantonment","013402345")
emp2 = Employee("151382338","Rasel","rasel338@gmail.com","Framgate","01558647231")

emp1.printEmployee()
emp2.printEmployee()

id: 151382356
name: sifat
email: sifat337@gmail.com
address: Cantonment
phone: 013402345
id: 151382338
name: Rasel
email: rasel338@gmail.com
address: Framgate
phone: 01558647231